.jq-select-multiple,
.jq-selectbox {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.jq-select-multiple select,
.jq-selectbox select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.jq-selectbox__select {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.jq-selectbox__select-text {
  width: 100%;
  display: block;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.jq-selectbox__dropdown {
  position: relative;
  top: auto !important;
  bottom: auto !important;
  left: auto !important;
  right: auto !important;
  min-width: 100%;
  height: auto !important;
}

.jq-selectbox__search input {
  -webkit-appearance: textfield;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font: 14px/1 Arial;
  color: #373737;
  border: 1px solid #000;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

.jq-select-multiple li,
.jq-selectbox__dropdown li {
  cursor: pointer;
}

.jq-select-multiple li:before,
.jq-selectbox__dropdown li:before {
  display: none;
}

.jq-select-multiple li.disabled,
.jq-selectbox__dropdown li.disabled {
  opacity: .5;
  cursor: default;
}

.jq-select-multiple li.optgroup,
.jq-selectbox__dropdown li.optgroup {
  cursor: default;
}

.jq-select-multiple {
  border: 1px solid #000;
  background: #fff;
  font: 14px/1.5 Arial;
}

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.jq-selectbox.opened .jq-selectbox__dropdown {
  display: block !important;
}

.jq-selectbox .placeholder {
  opacity: .5;
}

.jq-selectbox.disabled .jq-selectbox__select-text {
  color: #bdbdbd;
}

.jq-selectbox.disabled * {
  cursor: default;
}

.jq-selectbox__search {
  margin: 10px 10px 0;
}

.jq-selectbox__not-found {
  padding: 0 10px;
}

.select {
  height: 40px;
  margin: 0 0 20px;
  text-align: left;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.desktop .select select {
  display: none;
}

.select li {
  max-width: 100%;
  margin: 0;
  padding: 5px 19px;
  display: block;
  font: 14px/19px 'Open Sans',sans-serif;
  overflow: hidden;
  color: #001b2d;
  word-break: break-all;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.select li:hover {
  color: #09f;
}

.select li.disabled,
.select li.sel,
.select li.selected {
  display: none;
}

.select li.optgroup {
  font-weight: 700;
}

.select li.option {
  padding-left: 15px;
}

.select .jq-selectbox {
  height: 40px;
}

.select .jq-selectbox.opened .jq-selectbox__select-text {
  color: #001b2d !important;
}

.select .jq-selectbox.opened .jq-selectbox__select:before {
  border-color: #001b2d transparent transparent !important;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select .jq-selectbox select {
  display: block;
}

.select .jq-selectbox__select {
  display: block !important;
  position: relative;
  z-index: 1;
}

.select .jq-selectbox__select:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 17px;
  right: 10px;
  border-style: solid;
  border-width: 7px 5px 0;
  border-color: #808589 transparent transparent;
}

.select .jq-selectbox__select-text {
  height: 40px;
  padding: 0 30px 0 19px;
  font: 20px/37px 'Open Sans',sans-serif;
  color: #808589;
  border: 1px solid #001b2d;
  border-radius: 5px;
}

.select .jq-selectbox__dropdown {
  width: 100% !important;
  min-width: 0;
  margin: 10px 0 0 !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  overflow: hidden;
  background: #fff;
  border: 1px solid #001b2d;
  border-radius: 10px;
}

.select .jq-selectbox__dropdown ul {
  max-height: 185px !important;
  margin: 0;
  padding: 5px 0;
  overflow: auto;
}

.select .mCSB_scrollTools_vertical .mCSB_draggerContainer {
  margin: 10px 0 !important;
}

.select .mCSB_scrollTools .mCSB_dragger {
  height: 16px !important;
}

.select .mCSB_scrollTools {
  right: 10px;
  width: 16px;
}

.select .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
}

.select .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 16px;
  border-radius: 50%;
}

.select_placeholder .jq-selectbox__select-text {
  color: rgba(26, 26, 26, 0.8);
}

.hide-selected li.sel,
.hide-selected li.selected {
  display: block;
  color: #09f;
}

.hide-selected .jq-selectbox__select:before {
  border-color: #09f transparent transparent;
}

.hide-selected .jq-selectbox__select-text {
  color: #09f;
}

@media screen and (max-width: 1600px) {
  .select .jq-selectbox__select:before {
    margin-right: 9px;
  }
}

@media screen and (max-width: 991px) {
  .select {
    height: 30px;
  }

  .select li {
    padding: 5px 10px;
    font-size: 12px;
  }

  .select .jq-selectbox {
    height: 30px;
  }

  .select .jq-selectbox__select:before {
    margin-right: 0;
    top: 13px;
    right: 10px;
    border-width: 6px 4px 0;
  }

  .select .jq-selectbox__select-text {
    height: 30px;
    padding: 0 25px 0 10px;
    font: 14px/27px 'Open Sans',sans-serif;
  }

  .select .jq-selectbox__dropdown {
    border-radius: 5px;
  }

  .select .mCSB_vertical .mCSB_container {
    padding-right: 20px !important;
  }

  .select .mCSB_scrollTools {
    right: 7px;
  }
}

@media screen and (max-width: 359px) {
  .select .jq-selectbox__select-text {
    font-size: 13px;
  }
}